// theme-light

:root {
    --btn-bg-color            : #2E80CE;
    --btn-color               : #fff;
    --header-bg-color         : #10375C;
    --logo-circle-before      : #2E80CE;
    --logo-circle-after       : #fff;
    --logo-brand-color        : #fff;
    --header-navbar-link      : #C9D2DA;
    --header-navbar-link-hover: #fff;
    --navbar-item-before      : #fff;
    --action-login            : #C9D2DA;

    // Hero
    --hero-heading: #fff;
    --hero-desc   : #C9D2DA;
    --hero-tel    : #fff;

}