<div class="container">
  <div class="header__inner">
    <!-- Logo -->
    <a href="#!">
      <div class="logo">
        <div class="logo__circle"></div>
        <span class="logo__title">
          <h2 class="logo__brand">shine</h2>
          <span class="logo__brand logo__brand--small">shine</span>
        </span>
      </div>
    </a>

    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar-item navbar-item--active">
          <a href="#!" class="navbar__link">Home</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar__link">Services</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar__link">About</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar__link">Doctors</a>
        </li>
      </ul>
    </nav>

    <!-- Action -->
    <div class="action">
      <a href="#!" class="action__login">Log In</a>
      <a href="#!" class="btn action__cta">Sign Up</a>
    </div>
  </div>

  <!-- Hero -->
  <section class="hero">
    <div class="hero__inner">
      <section class="hero__content">
        <h1 class="hero__heading">Exceptional dental care for all ages.</h1>
        <p class="hero__desc">
          Exceptional dental care for all ages. Your great smile begins with a
          great dentist.
        </p>
        <div class="hero__row">
          <a href="#!" class="btn hero__cta">Book Online</a>
          <span class="hero__tel">or call (123) 456-7890</span>
        </div>
      </section>

      <div class="hero__media">
        <figure class="hero__images">
          <img
            src="./assets/Image-FB/472823484_652216127142193_1598323782826273436_n.jpg"
            alt="Exceptional dental care for all ages."
            class="hero__img"
          />
          <img
            src="./assets/Image-FB/470216359_557902057164528_807896265051424019_n.jpg"
            alt="Exceptional dental care for all ages."
            class="hero__img"
          />
        </figure>
      </div>
    </div>
  </section>
</div>
