<div class="container">
  <div class="member__inner">
    <header class="member__header">
      <h2 class="section-heading">Our virtual dentist</h2>
      <a href="#!" class="btn member__cta">Meet our dentist</a>
    </header>

    <div class="member__body">
      <div class="member__list">
        <!-- Member 1 -->
        <article class="member-item">
          <figure class="member-item__images">
            <img
              src="./assets/img/doctor-1.png"
              alt="Dr. Essence Page"
              class="member-item__img"
            />
          </figure>

          <div class="member-item__info">
            <h3 class="member-item__name">Dr. Essence Page</h3>
            <p class="member-item__desc">DDS, California - Linda University</p>
          </div>
        </article>

        <!-- Member 2 -->
        <article class="member-item">
          <figure class="member-item__images">
            <img
              src="./assets/img/doctor-2.png"
              alt="Dr. Essence Page"
              class="member-item__img"
            />
          </figure>

          <div class="member-item__info">
            <h3 class="member-item__name">Dr. Essence Page</h3>
            <p class="member-item__desc">DDS, California - Linda University</p>
          </div>
        </article>

        <!-- Member 3 -->
        <article class="member-item">
          <figure class="member-item__images">
            <img
              src="./assets/img/doctor-3.png"
              alt="Dr. Essence Page"
              class="member-item__img"
            />
          </figure>

          <div class="member-item__info">
            <h3 class="member-item__name">Dr. Essence Page</h3>
            <p class="member-item__desc">DDS, California - Linda University</p>
          </div>
        </article>

        <!-- Member 4 -->
        <article class="member-item">
          <figure class="member-item__images">
            <img
              src="./assets/img/doctor-4.png"
              alt="Dr. Essence Page"
              class="member-item__img"
            />
          </figure>

          <div class="member-item__info">
            <h3 class="member-item__name">Dr. Essence Page</h3>
            <p class="member-item__desc">DDS, California - Linda University</p>
          </div>
        </article>
      </div>

      <div id="list-cta" class="list-cta">
        <button class="cta">
          <svg
            width="6"
            height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.5 1L0.5 6L5.5 11"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="cta">
          <svg
            width="6"
            height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.5 1L0.5 6L5.5 11"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
