<div class="container">
  <div class="pet__inner">
    <div class="pet__media">
      <figure class="pet__images">
        <div class="pet__image">
          <img src="./assets/img/pet-img-01.png" alt="" class="pet__img" />

          <img
            src="./assets/icons/decor-01.svg"
            alt=""
            class="pet__decor pet__decor-left"
          />
          <img
            src="./assets/icons/decor-02.svg"
            alt=""
            class="pet__decor pet__decor-right"
          />
        </div>

        <div class="pet__image pet__image-small">
          <img src="../../assets/img/pet-img-02.png" alt="" class="pet__img" />
        </div>

        <div class="pet__list">
          <!-- Item 1 -->
          <div class="pet-item">
            <div class="pet-item__icon">
              <img
                src="../../assets/img/pet-img-03.png"
                alt=""
                class="pet-item__icon-img"
              />
            </div>
            <div class="pet-item__info">
              <h3 class="pet-item__title">Pet Health</h3>
              <div class="pet-item__skeleton"></div>
              <div class="pet-item__skeleton pet-item__skeleton-small"></div>
            </div>
          </div>

          <div class="pet__separate"></div>

          <!-- Item 2 -->
          <div class="pet-item">
            <div class="pet-item__icon pet-item__icon-bottom">
              <img
                src="../../assets/img/pet-img-04.png"
                alt=""
                class="pet-item__icon-img"
              />
            </div>
            <div class="pet-item__info">
              <h3 class="pet-item__title">Pet care</h3>
              <div class="pet-item__skeleton"></div>
              <div class="pet-item__skeleton pet-item__skeleton-small"></div>
            </div>
          </div>
        </div>
      </figure>
    </div>
    <section class="pet__content">
      <h1 class="pet__heading">Established & Trusted Pet Care Service</h1>
      <p class="pet__desc">
        Discover a wide variety of Pawsitive services to choose from, including
        daycare, private walks, office duty and spa.
      </p>
      <div class="pet__row">
        <a href="#!" class="btn pet__cta">
          Book a Meet
          <span class="pet__icon-wrap">
            <svg
              width="9"
              height="8"
              viewBox="0 0 9 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.48584 1.5L5.98584 4L3.48584 6.5"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <a href="#!" class="pet__sub-cta">Schedule a Call</a>
      </div>
    </section>
  </div>
</div>
